.colorfondo {
  background-color: black;

  height:  100em!important;
}



#tamano {
  width: 100% !important;
  
}

.color {
  color: #B7378A;
}

.borde {
  border-radius: 4px !important;
  border-color: #B7378A;
  color: white;
}

#select-categorias {
  width: 50%;
  /* margin-top: 3em; */
  margin-bottom: 3em;
}

#select-categorias-div {

  margin-top: 5em;
}

#btn-guardar-post {}

#btn-archivo {
  height: 3em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.botonOpciones {
 
  border-color: #B7378A !important;
  background-color: #B7378A !important;
  color: white;

}


#registroExitoso{
  border-radius: 10px;
    border-color:white 2px;
}



.wrapper {
  display: flex;
  width: 100%;
  background-color: black;
  align-items: center;


}