<div class="wrapper ">

  <app-sidebar></app-sidebar>

  <div class="content fondo" style="margin-left: 15% !important;width: 100% !important;">

    <div class="container colorfondo" id="tamano">
      <div class="row">
        <!-- <div class="col col-lg-12" style="margin-top: 5em;">
          <h3 class="color"> Titulo post</h3>
          <input type="text" style="width: 20em;" id="titulo-post" [(ngModel)]="tituloPost">
        </div> -->

        <div class="col col-12">
          <h3 class="color"> Titulo post</h3>
          <div [formGroup]="nombrePostForm" style="width: 20em;" id="titulo-post">
            <input [ngClass]="{'input-error':nombrePost.invalid && (nombrePost.dirty || nombrePost.touched ) }"
              formControlName="nombrePost" type="text" placeholder="Titulo Post">
            <div *ngIf="nombrePost.invalid && (nombrePost.dirty || nombrePost.touched )" class="alert alert-danger"
              role="alert" style="width: 13em;"> Campo no válido:
              <span class="error" *ngIf="nombrePost.errors.required">Error el campo es Obligatorio</span>
              <span *ngIf="nombrePost.errors.minLength"> El tamaño minimo son 5 caracteres</span>
            </div>
          </div>
        </div>


        <!-- <div class="col-lg-12 " style="margin-top: 5em; text-align: center;">
          <button class=" btn btn-lg borde" type="button" id="btn-archivo">Seleccionar
            Archivo</button>
        </div> -->

      </div>

      <div class="row">
        <div class="col col-12">
          <div style="margin-top: 3em;">
            <div [froalaEditor]="options" [(froalaModel)]="contenidoEditor"></div>

            <div *ngIf="validarContenidoEditor()==false" class="alert alert-danger" role="alert" style="width: 13em;">
              La descripción no puede ir vacía.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-12">
        </div>

        <div class="col col-lg-12">
          <div>
            <div id="select-categorias-div">
              <label for="select-categorias" class="color">Seleccione una categoría: </label>
              <select id="select-categorias" class="form-control">
                <option *ngFor="let categoria of listaCategorias" value="{{categoria.nombrecategoria}}">
                  {{categoria.nombrecategoria}}
                </option>
              </select>
            </div>

            <label for="comentarios" class="color" style="display: inline;">Incluir comentarios</label><br>
            <input type="checkbox" id="comentarios" name="comentarios" value="true"
              style="color: white; display: inline;">

            <br>
            <br>


            <button type="button" id="btn-guardar-post" class="btn btn-outline-success" (click)="guardarPost()"
              [disabled]="!nombrePostForm.valid || validarContenidoEditor()==false">Guardar</button>



          </div>
        </div>

        <div class="col col-lg-12">
          <div class="alert alert-success" role="alert" id="registroExitoso"
            style="width:70%; background-color: #7A346B; color:white; margin-left: auto;margin-right: auto;text-align: center;"
            [ngStyle]="{'display': mensajeService.displayMensaje}">
            <p> {{mensajeService.mensajeRegistro}}</p>
            <!-- [ngStyle]="{'display': mensajeService.displayMensaje}" -->
          </div>
        </div>
      </div>



    </div>


  </div>
</div>
