.colorfondo {
  background-color: black;
  margin-right: 100em !important;
}



#tamano {
  width: 100% !important;
  height: 300% !important;
}

.color {
  color: #B7378A;
}

.borde {
  border-radius: 4px !important;
  border-color: #B7378A;
  color: white;
}

#select-categorias {
  width: 50%;
  /* margin-top: 3em; */
  margin-bottom: 3em;
}

#select-categorias-div {

  margin-top: 5em;
}

#btn-guardar-post {}

#btn-archivo {
  height: 3em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
