/* .footer{
    background-color:rgba(0, 0,0);
    color:white;
    box-shadow: 10px 30px 60px 10px rgb(0, 0,0);
   width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

.footer:hover{
    background-color: rgba(0, 0,0, 0.541);
    transition: 0.5 s;
    box-shadow: 20px 30px 200px 0px rgb(0, 0,0);

} */



/* .container-footer{

    color:white;
   
    
    box-shadow: 10px 30px 60px 10px rgb(0, 0,0); 
   width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
     margin-top: 30em; 
} */

#fondo:hover{
    background-color: rgba(0, 0,0, 0.541);
    transition: 0.5 s;
    box-shadow: 20px 30px 200px 0px rgb(0, 0,0);

}




#fondo{
    background-image: url('~/assets/img/nebula.jpg') !important ;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.733),black);
    color: white;
    
    box-shadow: 10px 30px 60px 10px rgb(0,0,0);
    transition: 0.5s;
    border-style: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    vertical-align: middle;

    

}