

<div  id="fondo" class="container-footer ">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/logolius.png">
        </div>
       
        <div class='col-4'><h5>Acerca De Olius</h5><br>
           <p> olius es una CMS que permite crear paginas
                al estilo de el usuario,
            brindandole la edicion de los
             elementos que conforman su pagina
        </p>
        </div>
        <div class='col-4'><h5>Contacto</h5><br>
            <i class="fas fa-envelope"></i> ymrodriguez@unah.hn
        </div>
        <div class='col-4'><h5>Ayuda</h5></div>
       
    </div>
</div>

