

<div  id="fondo" class="container-footer ">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/logolius.png">
        </div>
       
        <div class='col-4'><h5>Acerca De Olius</h5><br>
           <p> Olius es un CMS que permite crear páginas
                al estilo de el usuario,
            brindándole la edición de los
             elementos que conforman su página
        </p>
        </div>
        <div class='col-4'><h5>Contacto</h5><br>
            <i class="fas fa-envelope"></i> ymrodriguez@unah.hn
        </div>
        <div class='col-4'><h5><a class="nav-link" href="../assets/manualOlius.pdf" tabindex="-1" aria-disabled="true">Ayuda<i class="fas fa-question-circle"></i></a>
        </h5></div>
       
    </div>
</div>

