
<nav class="navbar navbar-expand-lg navbar-light bg-light enavbar">
    <a class="navbar-brand" > <img src="assets/img/logolius.png"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/register'>Crea Tu Sitio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="https://github.com/yesica427/olius"> <i class="fas fa-download"></i>Descargar</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="../assets/manualOlius.pdf" tabindex="-1" aria-disabled="true">Ayuda<i class="fas fa-question-circle"></i></a>
        </li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn  " id="btn-login" routerLink="/login">
          <i class="fas fa-user"></i> Iniciar sesion <span class="caret"></span>
        </button>
  
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Acción #1</a></li>
          <li><a href="#">Acción #2</a></li>
          <li><a href="#">Acción #3</a></li>
          <li class="divider"></li>
          <li><a href="#">Acción #4</a></li>
        </ul>
      </div>
      <form class="">
        <button type="button" class="btn " routerLink="/register">
          <i class="fas fa-user-edit"></i> Registrarse
        </button>
      </form>
  
  
  
  
    </div>
  
    
  </nav>
