<div class="wrapper ">

  <app-sidebar></app-sidebar>

  <div class="content fondo" style="margin-left: 15% !important;width: 100% !important;">

    <body style="width: 100%; height: 100%;" class="fondo">

      <div class="container fondo" style="width: 100%; height: 100%;">
        <div class="row">

          <div class="col col-lg-12">

            <div class="encabezado">
              <h2 class="color" style="display: inline;">
                Usuarios
              </h2>
              <button type="button" class="btn borde color " routerLink="/admin/registro" ><i
                  class="fas fa-plus-circle"    ></i>Agregar Usuarios</button>

              <br>
              <br>



              <h6 class="color" style=" margin-top: 2em; margin-bottom: 2em;">Aplica filtros: </h6>
              <select id="tipoUsuarioSelect" class="form-control color" style="display: inline;">
                <option class="color" value="">Administrador</option>
                <option value="">Usuario</option>

              </select>
            </div>

            <br>
            <br>
            <div class="div-tabla" style="bottom: 0;">
              <table
                class="table table-hover table-dark table-responsive-sm table-responsive-md table-responsive-lg colortable"
                id="postsList">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"> <span>Nombre de Usuario</span></th>
                    <th scope="col">Correo</th>
                    <th scope="col">Opciones</th>

                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
              <th scope="row">1</th>
              <td> <i class="fas fa-user icono"></i><span>Koki</span></td>
              <td>kokiHermoso@gmail.com</td>
              <td>Administrador</td>
              <td>4</td>
              <td> <button type="button" class="btn">Eliminar</button>
                <button type="button" class="btn  botonOpciones">Editar</button> </td>
            </tr> -->

                  <tr *ngFor="let usuario of listaUsuarios">
                    <th scope="row">1</th>
                    <td>{{usuario.primerNombre+" "+usuario.PrimerApellido}}</td>
                    <td>{{usuario.correo}}</td>
                    <td> <button type="button" class="btn botonOpciones "><i class="fas fa-trash"></i>Eliminar</button>
                      <button type="button" class="btn  botonOpciones"><i class="fas fa-edit"></i>Editar</button> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </body>

  </div>
</div>
