<!-- <img src="assets/img/ejemplopagina.jpg"> -->
<!-- 
<button (click)="cambiarIdPagina(2)">Cambiar de id</button>
<h5>Id pagina: {{idPagina}}</h5>
 -->

<link rel="icon" href="http://localhost:8888/kaneki.jpg">


<link rel="stylesheet" href="http://localhost:8888/estilos/estilos_encabezado.css">
<button type="button" routerLink='/admin/dashboard' class="btn btn-lg botonOpciones" data-dismiss="modal">Dashboard</button>


<div *ngIf="permiteEncabezado">
  <div>
    <div class="letra" [innerHTML]="contenidoEncabezado"></div>
  </div>
</div>
<br>
<br>
<br>
<br>

<link rel="stylesheet" href="http://localhost:8888/estilos/estilos_pagina_principal.css">


<div id="enlaces-div" style="float: right;">
  <strong><hr></strong>
  <div class="enlace color " *ngFor="let link of listaLinks" style="margin: 0.5em; display: inline;margin-bottom: 2em;">
  
   <strong> <a (click)="cambiarIdPagina(link.url)">{{link.titulomenu}}</a></strong>
   
    
  </div>
  <strong><hr></strong>
</div>
<br>
<div></div>

<!--  formulario de login  -->
<div style="width: 50%; margin-left: 0px;margin-right: auto; padding: 1em;" *ngIf="permiteLogin">
  <form [formGroup]="formularioInicioSesion" id="login">

    <div class="form-group">
      <label for="exampleInputEmail1">Correo electrónico</label>
      <input formControlName="email" type="email" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="email.invalid && (email.dirty || email.touched ) " class="alert alert-danger" role="alert"
        style="width: 13em;padding: 0em;">¡Error su Email no es correcto!
        <span class="error" *ngIf="email.errors.required">Error el campo es Obligatorio</span>
        <span *ngIf="email.errors.pattern">El Email no es valido</span>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input formControlName="password" id="exampleInputPassword1" type="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched ) " class="alert alert-danger" role="alert"
        style="width: 13em;padding: 0em;">¡Error su password no es correcto!
        <span *ngIf="password.errors.required">Error el campo es Obligatorio</span>
        <span *ngIf="password.errors.minLength">El tamaño minimo son 8 caracteres</span>
        <span *ngIf="password.errors.pattern">Al menos 1 Digito y una letra mayuscula </span>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="!formularioInicioSesion.valid" type="button" (click)="entrar()" id="btnentrar"
        class="btn btn-lg "><i class="fas fa-sign-in-alt"></i>Entrar</button>
    </div>

  </form>
</div>



<div *ngIf="idPagina!=1">
  <div [innerHTML]="contenidoPagina" id="div-pagina"
    style="width: 80%; text-align: center; margin-top: 5em; margin-left: auto;margin-right: auto;padding-top: 1.5em;padding-bottom: 1em;">
  </div>
</div>


<div *ngIf="idPagina==1" id="paginaPrincipal" class="letra  ">

 <div class="letra divfondo "></div>

  

  <div [innerHTML]="contenidoPaginaPrincipal"
   class="letra" style="width: 80%; margin-left: auto;margin-right: auto;padding-top: 1.5em;padding-bottom: 1em;">
  



    
  </div>

</div>


<div *ngIf="!esPaginaEstatica" class="letra col col-g-12" id="pagina-post"
  style="width: 100%; margin-left: auto;margin-right: auto;padding-top: 1.5em;padding-bottom: 1em;">
  <!-- <h2>Utilizando Post component</h2> -->

  <app-post *ngFor="let post of listaPosts" [post]="post"></app-post>

</div>

<br>

<link rel="stylesheet" href="http://localhost:8888/estilos/estilos_footer.css">
<link rel="stylesheet" href="http://localhost:8888/estilos/estilos_pagina.css">

<div *ngIf="permiteFooter">
  <div [innerHTML]="contenidoFooter"></div>
</div>
