

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
img {
  align-items: center;
  text-align: center;
}

.color{
  color:#882F1B;
}

.color:hover{
  cursor: pointer
}

#formlogin {
  margin-top: 40em;
 
  padding-left: 5em;
  margin-right: 5em;
  margin-right: 30em;
  margin-top: 10em;
  /* background-image: url('/img/fondo4.jpg')!important; */



}


.divfondo{
  background-color: rgb(0, 0, 0); 
  opacity: 0.5;


}

.form-control {
  padding-right: 5em;
  width: 10em;
  padding-left: 5em;

  align-items: center;
}




#btnentrar {
  background-color: #B7378A;
  margin-left: 1em;
}



.error {
  color: red !important;
}


.estilotarjeta{
  background-image: url('https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixlib=rb-1.2.1&w=1000&q=80')!important;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: medium bold;
  color: rgb(217, 84, 1)!important;

  
}


.botonOpciones {
 
  background-color: #B7378A !important;
  color: white !important;
}


.letra{
  font-family: 'Roboto', sans-serif!important;
}