<!-- <img src="assets/img/ejemplopagina.jpg"> -->

<button (click)="cambiarIdPagina()">Cambiar de id</button>
<h5>Id pagina: {{idPagina}}</h5>


<!-- <div [innerHTML]="contenidoPost"></div> -->

<div [innerHTML]="contenidoDivPost" id="div-posts"></div>


<!-- contenido pagina dinamica -->
<!-- poner el href dinamico -->
<link rel="stylesheet" href="http://localhost:8888/estilos/pagina1.css">


<div [innerHTML]="contenidoPagina" id="div-pagina"></div>

<script src="http://localhost:8888/js/pagina1.js"></script>
