





  <div class="wrapper">

    <app-sidebar></app-sidebar>
  
    <div class="content" style="margin-left: 20% !important;width: 80% !important;">
      
  
      <h4>Categorias</h4>
<div id="ac" class="container">
    <div class="row">
        <div class= "col col-lg-2">
 
        <h6>Agregar Categoria</h6>
        </div>
<div class= "col col-lg-4">
 
  <input type="email" style="padding-right:2em ;" class="form-control"  placeholder="Nombre">

</div>
<div class="col col-lg-6">
    <select class="form-control form-control-lg">
        <option>Buscar Categoria</option>
      </select>
</div>


<div class= "col col-lg-6">
 
  <input type="email" style="padding-right:2em ;" class="form-control"  placeholder="">

</div>


<div class= "col col-lg-6">
  <button>Agregar Categoria</button>
</div>



</div>
</div>


<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">cantidad</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>sin categoria</td>
        <td>--</td>
        <td>--</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>--</td>
        <td>--</td>
        <td>--</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">--</td>
        <td>--</td>
      </tr>
    </tbody>
  </table>


  
    </div>
  
  </div>
  
  
  
  