img {
  align-items: center;
  text-align: center;
}

#formlogin {
  margin-top: 40em;
  padding-left: 5em;
  margin-right: 5em;
  margin-right: 30em;
  margin-top: 10em;
  /* background-image: url('/img/fondo4.jpg')!important; */



}

.form-control {
  padding-right: 5em;
  width: 10em;
  padding-left: 5em;

  align-items: center;
}




#btnentrar {
  background-color: #B7378A;
  margin-left: 1em;
}



.error {
  color: red !important;
}
