.icono {
  margin-right: .5em;
}

#tipoUsuarioSelect {
  width: 10em;
}

.botonOpciones {
  margin-left: .5em !important;
  margin-right: .5em !important;
  background-color:#B7378A !important;
  color:white;
}

.borde{
  border-bottom: 1px!important;
  border-color: #B7378A;
}

.fondo{
  background-color: black;
  width: 100%!important;
  height:  100em!important;
  max-width: 1200px!important;
}

.color{
  color: #B7378A;
}


.colortable{
  background-color: black!important;
}