<div class="container">
  <div class="row">

    <div class="col col-lg-12">

      <div class="encabezado">
        <h2 style="display: inline;">
          Usuarios
        </h2>
        <button type="button" class="btn " style="display: inline;">Agregar Usuarios</button>

        <br>
        <br>


        <h6 style="display: inline;">Aplica filtros: </h6>
        <select id="tipoUsuarioSelect" class="form-control" style="display: inline;">
          <option value="">Administrador</option>
          <option value="">Usuario</option>

        </select>
      </div>

      <br>
      <br>
      <div class="div-tabla">
        <table class="table table-hover table-dark table-responsive-sm table-responsive-md table-responsive-lg"
          id="postsList">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"> <span>Nombre de Usuario</span></th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th scope="col">Entradas</th>
              <th scope="col">Opciones</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td> <i class="fas fa-user icono"></i><span>Anthony</span></td>
              <td>yalid@gmail.co</td>
              <td>Administrador</td>
              <td>4</td>
              <td> <button type="button" class="btn">Eliminar</button>
                <button type="button" class="btn  botonOpciones">Editar</button> </td>
            </tr>
            <tr>

              <th scope="row">2</th>
              <td> <i class="fas fa-user icono"></i>Anthony</td>
              <td>yalid@gmail.co</td>
              <td>Administrador</td>
              <td>4</td>
              <td> <button type="button" class="btn botonOpciones">Eliminar</button>
                <button type="button" class="btn  botonOpciones">Editar</button> </td>
            </tr>
            <tr>

              <th scope="row">3</th>
              <td> <i class="fas fa-user icono"></i>Anthony</td>
              <td>yalid@gmail.co</td>
              <td>Administrador</td>
              <td>4</td>
              <td> <button type="button" class="btn  botonOpciones">Eliminar</button>
                <button type="button" class="btn  botonOpciones">Editar</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
