<app-header-logged-out></app-header-logged-out>
<div class="divlogin" id="divlogin">
  <!-- <img src="assets/img/chispa.jpg" alt=""
    style="position: absolute ;top: 0%; height: 100%;width: 100%s; opacity: .5;  z-index:  auto  100 inherit;"> -->



  <form id="login" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button id="btnentrar" class="btn btn-lg">Entrar</button>
  </form>
</div>
<app-footer></app-footer>
