#hregisrtrarse{
    margin-top: 0rem;
    margin-bottom: 0em;
    align-items: center;
    margin-left: 6em;
}




.form-control{
    padding-right: 3em;
    width: 23em;
    padding-left: 3em;
   
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.tamano{
    margin-bottom: 2em;
   

}

#btnregistrar{
padding: 0em;
text-align: center;
margin-left: 15em;
background-color: #B7378A; ;
color:black;
margin-bottom: 3em;
}

hr {
    height: 2px;
    background-color:#B7378A;
  }

 

#fc{
    border-radius: 2px;
    margin-left: 4!important;
    margin-right: 0;
   
    /* background-image: url('~/assets/img/fondo4.jpg')!important; */
    
}

.error{
    color: brown!important;
}

.input-error{
    border-color:red;

}


.fondo{
     background-image: url('https://i.pinimg.com/originals/20/f5/a9/20f5a9f2c4dbd3faf4a658a5e5e10798.jpg') !important ; 
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
   
    color: white;
    
    height: 100em!important;
   
}

/* .fondo:hover{
    background-color: rgba(0,0,0,0.541);
    transition:0.5 s;
    box-shadow: 20px 30px 200px 0px rgb(0,0,0);
} */


.formulario{
   
    text-align: center;
    background-color: rgb(0, 0, 0); 
    opacity: 0.5;
    color:white;

}

#registroExitoso{
    border-radius: 10px;
    border-color:white 2px;
}
