.encabezado {
  margin-bottom: 2em !important;

}


.archivoDiv i {
  size: 100% !important;
}


.archivo {
  margin: 2em !important;
}

.archivosWrap {
  margin-top: 2em !important;
}


.encabezado {
  margin-top: 1em !important;
}
