<div class="containeer" style="text-align:center;">
    <p style="position: absolute;top: 70%;"><b>Diseña tu <br>
           pagina web <br>
           en tan solo minutos</b></p>
 <input id="btncrear" type="button" value="Empieza ya! crea tu sitio web" style="position: absolute;top: 120%;">
        <img src="assets/img/fondon2.jpg">
        
 </div>


 <div class="card-deck">
    <div class="card">
           <i class="fas fa-align-left" style="color: purple;"></i>
      <div class="card-body">
        <h5 class="card-title">Editor Intuitivo</h5>
        <p  class="card-text">crea tu sitios facilmente</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
           <i class="fas fa-broom" style="color: purple;"></i>
      
      
      <div class="card-body">
        <h5 class="card-title">Rapido</h5>
        <p class="card-text">Empieza con tu diseño desde cero y elige 
           los elementos a tu gusto</p>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
    <div class="card">
           <i  class="fas fa-mobile-alt fa-lg fa-bars" style="color: purple;"></i>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Tu sitio se verá espectacular
           en cualquier dispositivo.</p>
      </div>
      <div class="card-footer">
       
      </div>
    </div>
  </div>


<div id="informacion">
<h3 id="titulolius" style="height: 30%;">Porque usar olius?</h3>

</div>
 <app-footer></app-footer>

