/* .wrapper {
  display: flex;
  width: 100%;
} */


/* @media (max-width: 768px) {
  #sidebar {
    margin-left: 0px;
    width: 40% !important;
  }

} */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar {
  width: 15% !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow-x: hidden;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}



/*
        ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
    */



body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4em;
  color: rgb(0, 0, 0);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: linear-gradient(360deg, #000000, #B7378A) !important;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 15px;
  background: linear-gradient(360deg, #000000, #B7378A) !important;
}

#sidebar ul.components {
  padding: 10px 0;
  /* border-bottom: 1px solid #000000; */
}

#sidebar ul p {
  color: #fff;
  padding: 5px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 16px;
  display: block;
}

#sidebar ul li a:hover {
  color: #B7378A;
  background: black;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: black;
  background: linear-gradient(360deg, #000000, #B7378A) !important;
}

ul ul a {
  font-size: 14px !important;
  padding-left: 30px !important;
  background: linear-gradient(360deg, #000000, #B7378A) !important;
}

.color {
  color: white;

}


.borde {
  border-bottom: 1px !important;
  border-color: white;
}

.texto{
  font-family: 'Monoton', arial;
}