<!-- <div class="wrapper">
  Sidebar -->
<nav id="sidebar" style="width: 15% !important; margin-left: 0%;">
  <div class="sidebar-header">
    <h3 class="texto">Olius</h3>
  </div>

  <ul class="list-unstyled components">
    <li> <a routerLink="/admin/dashboard">
        <i class="fas fa-home" style="margin-right: .5em;"></i><span>DashBoard</span></a></li>

    <li class="">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-plus" style="margin-right: .5em;"></i><span>Posts</span></a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a routerLink="/admin/posts">Todos los Posts</a>
        </li>
        <li>
          <a routerLink="/admin/nuevopost">Añadir Posts</a>
        </li>
        <li>
          <a routerLink="/admin/categorias">Categorías</a>
        </li>

      </ul>
    </li>
    <!-- <li>
            <a [routerLink]="'posts'">Posts</a>
          </li> -->
    <li>
      <a href="#bancoArchivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-image" style="margin-right: .5em;"></i><span>Banco de Archivos</span></a>
      <ul class="collapse list-unstyled" id="bancoArchivos">
        <li>
          <a routerLink="/admin/archivos">Ver archivos</a>
        </li>
        <li>
          <a routerLink="/admin/nuevoArchivo">Añadir nuevo</a>
        </li>

      </ul>
    </li>

    <li>


      <a href="#gestionarUsuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">

        <i class="fas fa-users" style="display: inline; margin-right: .5em;"></i><span>Gestionar Usuarios</span></a>
      <ul class="collapse list-unstyled" id="gestionarUsuarios">
        <li>
          <a routerLink="/admin/users">Todos los usuarios</a>
        </li>
        <li>
          <a  routerLink="/admin/registro">Añadir nuevo</a>
        </li>
        <li>
          <a>Actualizar</a>
        </li>

      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">

        <i class="fas fa-file" style="display: inline; margin-right: .5em;"></i><span>Gestionar Paginas</span></a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a>Todas las páginas</a>
        </li>
        <li>
          <a routerLink="/admin/crearpagina">Añadir Nueva</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#modificarInicio" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Modificar
        Inicio</a>
      <ul class="collapse list-unstyled" id="modificarInicio">
        <li>
          <a>Opcion 1</a>
        </li>
        <li>
          <a>Opcion 2</a>
        </li>
        <!-- <li>
                <a>Actualizar</a>
              </li> -->

      </ul>
    </li>
    <li>
      <a href="#gestionComentarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion de
        comentarios</a>
      <ul class="collapse list-unstyled" id="gestionComentarios">
        <li>
          <a>Opcion 1</a>
        </li>
        <li>
          <a>Opcion 2</a>
        </li>
        <!-- <li>
                <a>Actualizar</a>
              </li> -->

      </ul>
    </li>
    <li>
      <a href="#shortcuts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Shortcuts</a>
      <ul class="collapse list-unstyled" id="shortcuts">
        <li>
          <a>Ver todos</a>
        </li>
        <li>
          <a>Añadir nuevo</a>
        </li>
        <!-- <li>
                <a>Actualizar</a>
              </li> -->

      </ul>
    </li>
    <li>
      <a href="#administraMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administra
        Menus</a>
      <ul class="collapse list-unstyled" id="administraMenu">
        <li>
          <a>Ver todos</a>
        </li>
        <li>
          <a>Añadir nuevo</a>
        </li>
        <!-- <li>
                <a>Actualizar</a>
              </li> -->

      </ul>
    </li>
    <li>
      <a href="#temas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Temas</a>
      <ul class="collapse list-unstyled" id="temas">
        <li>
          <a    routerLink="/admin/temas">Ver todos</a>
        </li>
        <li>
          <a  routerLink="/admin/nuevotema">Añadir nuevo</a>
        </li>

      </ul>
    </li>


    <!-- (click)="salir()" -->
    <li>
      <Button type="button" style="margin-right: 2em;" class="btn color borde" style="margin-top:1em;" (click)="salir()"
        id=" botonSalir"><i class="fas fa-sign-out-alt"></i>Salir</Button>
    </li>
  </ul>

</nav>
<!-- Page Content -->
<!-- <div id="content">
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
      
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>
          </div>
        </nav> -->
<!-- 
          <h6>Body</h6>
      
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sit natus officiis ad nesciunt iste a facilis!
            Assumenda facere fugiat odio molestiae, magni non quam hic ratione laborum minima neque.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ipsa ipsum quaerat est atque vero, at accusamus
            vel? Sint dolore ullam suscipit officiis necessitatibus id sapiente ea aperiam inventore cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore consectetur placeat necessitatibus sapiente
            vitae amet beatae, similique laboriosam qui, mollitia repudiandae facilis odit non dolores inventore minima
            repellendus nemo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum minus fuga totam quaerat sed aliquid
            provident, cumque rem voluptates deleniti doloribus nobis atque sapiente eaque adipisci, obcaecati veniam
            nesciunt!</h1>
        </div>
      </div> -->
