@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap' );

.estilopost{

    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #989899;
    width: 50%;
    opacity: 0.9;
    border-radius: 20px;
}




.botonOpciones {
  
    border-color:#B7378A !important;
    background-color:#B7378A !important;
    color:white;
  
  };
.coloricono{
    background-color:#B7378A !important;
    color:#B7378A !important ;

}

  .round {

    background-color: #fff;
    width: auto;
    height: auto;
    margin: 0 auto 15px auto;
    padding: 5px;
    border: 1px solid #ccc;
   
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 40px!important;
/* 
    behavior:url(../CSS_Support/border-radius.htc); */
  
   
       }

       .curved {
        border-radius: 8px 8px 8px 8px;
     }



  .confondo {
    background-color: #def;
  }

  .estiloComentario{

    background-color:rgb(227, 228, 232)!important;
    width: 30em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px 20px ;
    border-color: 1px black !important;
  }



 h3{
     display:inline-block;
     position:relative;
     font-family: 'Dancing Script', cursive;

 }

 h3::after,h3::before{
     content:'';
     position: absolute;
    
     background-color: black;
  
 }
 h3::before{
    left:-140px
     
 }

 h3::after{
    right:-140px
    
}