<div class="estilopost bg-gradient-light">


  <div class="card text-center  col-lg-12 fondo" style="margin-left: 10em;">
    <div class="card-header   estilotarjeta">
    
    </div>
    <div class="card-body divfondo" style="width: 100%!important;">
  <h3 class="letra"><em>{{post.titulopost}}</em></h3>
  <div class="descripcion-post" [innerHTML]="post.descripcion">
    <h3 class="letra"><em>{{post.fecha}}</em></h3>
    <hr>
  </div>
  <img src="https://www.underconsideration.com/artofthemenu/images/divider_squiggly_318.gif" alt="^^^">
  <p class="letra">Creado por: <strong>{{post.usuario}}</strong> </p>
  <br>
  <div *ngIf="post.permitecomentario">
    <h5 class="coloricono"> <i class="far fa-comments coloricono"> </i>Comentarios</h5>

    <div class="estiloComentario">


      <!-- <app-comentario *ngFor="let comentario of post.comentarios" [comentario]="comentario"></app-comentario> -->

      <div  class="letra" *ngFor="let comentario of post.comentarios">
        <app-comentario [comentario]="comentario" (onReportarComentario)="reportarComentario($event)"></app-comentario>
      </div>

    </div>

   
    <div class="card-footer text-muted  estilotarjeta">
     
    </div>
  </div>
  </div>














    <div *ngIf="verificarUsuarioLogueado()">
      <div class="col col-lg-12" style="text-align: center;">
        <input type="text" id="input-comentario" class="confondo round curved form-control"
          style="width: 15em; text-align: center; margin-right: auto; margin-left: auto;"
          placeholder="Ingresa un nuevo comentario." [(ngModel)]="inputComentario">
        <button (click)="nuevoComentario()" class="btn botonOpciones " style="margin-top: 2em;"> <i
            class="fas fa-comment-dots"></i>Comenta</button>
      </div>
    </div>

    <div class="col col-lg-6">

    </div>

  </div>

  <hr>
</div>
