<div class="wrapper ">

  <app-sidebar></app-sidebar>

  <div class="content fondo" >

    <form style="margin-top: 3em ;">
      <div class="container">
        <div class="row">
          <div class="col-col-lg-6">

            <input type="email" style="padding-right:2em ;" class="form-control" placeholder="Escribir Titulo">

          </div>

          <div class="col col-lg-6" >
            <select style="width: 10em!important;" class="form-control form-control-lg">
              <option>Elegir Bloque</option>
              <option>Imagen</option>
              <option>lista</option>
              <option>Tabla</option>
              <option></option>
            </select>
          </div>
          <div class="col-col-lg-6">

            <input type="email" style="padding-right:2em ;" class="form-control" placeholder="Escribir Tema">

          </div>

          <div class="col-col-lg-6">
            <button class="btn btn-lg" routerLink='/paginacreada'> Publicar</button>
          </div>
        </div>

      </div>


    </form>







  </div>

</div>
