.form-control {
  width: 30em !important;
  background-color:white ;

}

.border{
  border-radius: 2px;
  border-color: #B7378A;

}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  margin-left: 20% !important;
  width: 80% !important;
  color:white !important;
}



.btn {
  background-color: #B7378A;
  color: white;
  margin-top: 5em;
}

.fondo{
  width: 120%!important;
  height:  100em!important;
  background-color: black;
  color:#B7378A !important;

  text-align: center;

  
}


.texto{
  font-family: 'Monoton', arial;
  color:#B7378A;

}

.input-error{
  border-color: red 1px;
}


.fondodiv{
  background-image: url('~/assets/img/fondo3.gif') !important ;
 background-size: cover !important;
 background-repeat: no-repeat;
 width: 40em !important;
 height: 20em !important;
 background-position: center 50%;

}