<div class="wrapper ">

  <app-sidebar></app-sidebar>

  <div class="content fondo" style="margin-left: 15% !important;width: 100% !important;">

    <form style="margin-top: 3em ;">
      <div class="container">
        <div class="row">
          <div class="col-col-lg-6">

            <input type="email" style="padding-right:2em ;" class="form-control" placeholder="Escribir Titulo">

          </div>

          <div class="col col-lg-3">
            <select style="width: 10em!important;" class="form-control form-control-lg">
              <option>Elegir Categoria</option>
              <option>futbol</option>
              <option>comida</option>
              <option>danza</option>
              <option></option>
            </select>
          </div>
          <div class="col-col-lg-3">

            <select style="width: 10em!important;" class="form-control form-control-lg border  ">
              <option>Tipo De Pagina</option>
              <option>educativa</option>
              <option>pasatiempo</option>
              <option>Tabla</option>
              <option></option>
            </select>

          </div>

          <div class="col-col-lg-6">
            <button class="btn btn-lg" routerLink='/paginacreada'> Publicar</button>
          </div>
        </div>

      </div>


    </form>


    <div style="border-radius: 15px;width: 70%; margin-left: auto;margin-right: auto;">
      <ngx-codemirror [(ngModel)]="contentJS" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'javascript'
    }"></ngx-codemirror>
    </div>

    <!-- <input type="text" [(ngModel)]="contentJS"> -->
    <br>
    <br>
    <br>
    <div style="border-radius: 15px;width: 70%; margin-left: auto;margin-right: auto;">
      <ngx-codemirror [(ngModel)]="contentCSS" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'css'
    }"></ngx-codemirror>
    </div>

    <br>
    <br>
    <br>
    <div style="border-radius: 15px;width: 70%; margin-left: auto;margin-right: auto;">
      <ngx-codemirror [(ngModel)]="contentHTML" [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'xml'
      }"></ngx-codemirror>
    </div>
  </div>

</div>
