#postsList {

  max-width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

.botonOpciones {
  margin-left: .5em !important;
  margin-right: .5em !important;
  border-color:#B7378A !important;
  background-color:#B7378A !important;
  color:white;

};

btn{
  background-color:#B7378A !important;
  color:white;

}