<div id="entradasdiv">
  <h3>Entradas</h3>

  <br>

  <div class="">
    <h4>Filtra las entradas:</h4>
    <div style="display: inline;">
      <select name="select" class="form-control" style="width: 20%; display: inline; margin: 1em;">
        <option value="value1">Ordenar por fecha</option>
        <option value="value2" selected>Ordenar por categoria</option>
      </select>
    </div>
    <div style="display: inline;">
      <select name="select" class="form-control" style="width: 20%; display: inline; margin: 1em;">
        <option value="value1" selected>Todas las categorías</option>

      </select>
    </div>
    <div style="display: inline;">
      <select name="select" class="form-control" style="width: 20%; display: inline; margin: 1em;">
        <option value="value1" selected>Privacidad</option>
        <option value="value1">Públicos</option>
        <option value="value1">Privados</option>

      </select>
    </div>
  </div>
  <table class="table table-hover table-dark table-responsive-sm table-responsive-md table-responsive-lg"
    id="postsList">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoria</th>
        <th scope="col">Comentarios</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Hola mundo</td>
        <td>Anthony</td>
        <td>titulos</td>
        <td>4</td>
        <td>07/03/20</td>
        <td> <button type="button" class="btn btn-danger botonOpciones">Eliminar</button>
          <button type="button" class="btn btn-primary botonOpciones">Editar</button> </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <!--TODO: Anadir router link a ver-->
        <td>Hola mundo</td>
        <td>Anthony</td>
        <td>titulos</td>
        <td>4</td>

        <td>07/03/20</td>
        <td> <button type="button" class="btn btn-danger botonOpciones">Eliminar</button>
          <button type="button" class="btn btn-primary botonOpciones">Editar</button> </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Hola mundo</td>
        <td>Anthony</td>
        <td>titulos</td>
        <td>4</td>

        <td>07/03/20</td>
        <td> <button type="button" class="btn btn-danger botonOpciones">Eliminar</button>
          <button type="button" class="btn btn-primary botonOpciones">Editar</button> </td>
      </tr>
    </tbody>
  </table>
</div>
