


<div class="wrapper">

  <app-sidebar></app-sidebar>

  <div class="content" style="margin-left: 20% !important;width: 80% !important;">
    

    <h1 style="margin-bottom: 3em;">Entradas</h1>

<div id="discontinuo1" class="col col-lg-4" style="align-items: center;">
    <button id="agregarpagina" class="btn btn-lg" routerLink='/nuevaentrada'>Nueva Entrada<i class="fas fa-pencil-alt" ></i></button>
</div>

<div class="container">
    <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4">
            <select class="form-control form-control-lg">
                <option>Buscar Entrada</option>
              </select>
        </div>
        <div class="col col-lg-4">
        <label>Publicadas(1)</label>
    </div>
    </div>
</div>

<table class="table table-sm table-dark" style="margin-top: 3em;">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Autor</th>
      <th scope="col">Categoria</th>
      <th scope="col">Fecha/th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">--</td>
      <td>--</td>
    </tr>
  </tbody>
</table>



  </div>

</div>