<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content" style="margin-left: 15% !important;width: 100% !important;">

    <div class="fondodash" style="width: 100%;">



      <H5 class="color">Usuario logueado actualmente:
        {{usuarioActual.primernombre  + " "+ usuarioActual.primerapellido}}
      </H5>

      <div class="content" style="margin-left: 0% !important;width: 80% !important;">

        <h1 id="titulo">Bienvenidos <br>A<br> Olius</h1>

        <h4 class="coloriconos">Sitios Realizados</h4>
        <div style="margin-left: 1em;"><i class="fas fa-palette coloriconos"></i></div>
        <div class="container">

          <div class="row">


            <div class="col col-lg-4">
              <img src="assets/img/imgplantilla3.png ">
            </div>
            <div class="col col-lg-4">
              <h4 class="coloriconos"><i class="fas fa-photo-video"></i> Multimedia</h4>
              <h3 class="coloriconos"><i class="fas fa-video"></i> Videos</h3>
              <h3 class="coloriconos"> <i class="fas fa-image"></i> Imagenes</h3>

            </div>

            <div id="discontinuo" class="col col-lg-4" style="align-items: center; ">
              <button id="agregarpagina" class="btn btn-lg" routerLink='/crearpagina'>Agregar Pagina<i
                  class="fas fa-pencil-alt"></i></button>
            </div>



          </div>

        </div>

        <div class="container">
          <div class="row">

            <div id="Acciones col-lg-4" class="color" style="margin-top: 5em;"><br>
              <h5><i class="fas fa-2x fa-lg fa-pencil-alt coloriconos"></i> pasos</h5><br>
              <h5><i class="fas  fa-2x fa-lg fa-hand-point-right coloriconos"></i>Ingresar el tema de tu sitio</h5><br>
              <h5> <i class="fas fa-2x fa-lg fa-angle-right coloriconos"></i>Elige estilos a tu gusto</h5><br>
              <h5> <i class="far fa-eye  fa-2x fa-lg coloriconos"></i>ver pagina</h5>
            </div>




            <div id="discontinuo" class="col col-lg-4" style="align-items: center;"
              style="margin-top: 5em ; margin-left: 18em;">

              <div class="col col-lg-3">
                <h4 class="coloriconos"><i class="fas fa-users"></i> usuarios</h4>
                <h3 class="coloriconos"><i class="fas fa-smile-beam"></i> post</h3>
                <h3 class="coloriconos"> <i class="fas fa-comment-dots"></i> Comentarios</h3>

              </div>




            </div>

            <!-- <div class="col-lg-1">
          <img src="assets/img/pintura3.gif ">

      </div> -->



          </div>

        </div>




      </div>
    </div>

  </div>
</div>
