<div class="wrapper  ">

    <app-sidebar></app-sidebar>
  
    <div class="content fondo" style="margin-left: auto;margin-right: auto;"
      style="margin-left: 15% !important;width: 100% !important;">
  
      <div class="conteiner" style="margin-left: auto;margin-right: auto ; text-align: center;">
        <div class="row" style="margin-left: auto;margin-right: auto;">
  
          <div class="fondodiv color col col-lg-12 estiloComentario "
            style=" width: 50%;height: 20em!important; margin-top: 5em; margin-bottom: 6em  !important; ">
 
            <h1 class="titulo"
              style="margin-top: 3.5em;margin-left: 4em;margin-right: 3em; text-align: center!important; ">Comentarios</h1>
  
          </div>





          
         
         <div class="col col-lg-6">

          <div  id="list-example" style="text-align: center; padding: 0; margin-left: 10em;  margin-right: 30em;" *ngFor='let post of listaPost' class="">
            <button   (click)="traerComentarios(post._id)" style=" width:12em" class="list-group-item list-group-item-action opcion" ><h4 class="texto">{{post.titulopost}}</h4></button>
           
          </div>
        </div>

        <div class="col col-lg-6">
          <div  class=" estiloinformacion"   *ngIf="itemactivo==true" style="  padding: 0; margin-right: 3em;"   >
            <div *ngIf="listaComentarios.length==0" ><strong> No hay comentarios para el post actual </strong></div>
            
           <div  *ngFor='let comentario of listaComentarios' >
            <h3 class="colortitulo"><i class="far fa-user"></i>Autor</h3>  <h4 class="color" id="list-item-1">{{comentario.usuario}}</h4>
            <p>...</p>
            <h3  class="colortitulo"><i class="far fa-comment"></i>Comentario</h3> <h4  class="color" id="list-item-2">{{comentario.comentario}}</h4>
            <p>...</p>

            <button class="btn btn-lg botonOpciones" style="margin-bottom: 3em;" (click)="eliminarComentario(comentario.idcomentario)"><i class="far fa-trash-alt"></i>Eliminar</button>
           
          </div>
          </div>

        </div>





     

          <div class="col col-lg-12" id="" style="text-align: center; padding: 0; margin-left: 25em; margin-top: 15em; margin-right: 0; margin-bottom: 10em;"  class="">
            <h3 class="titulo"><i class="fas fa-ban"></i>
              Comentarios Reportados</h3>
            
           
          </div>

          <div  class="col col-lg-6" style="margin-bottom: 10em;">


            <div    id="list-example" style="text-align: center; padding: 0;  margin-left: 10em;  margin-right: 30em;" *ngFor='let post of listaPost' class="">
              <button  (click)="traerComentarios(post._id)" style=" width:12em" class="list-group-item list-group-item-action opcion" ><h4 class="texto">{{post.titulopost}}</h4></button>
            </div>
          </div>
            
         <div class="col col-lg-6" >
          <table
            class="table  table-hover table-dark table-responsive-sm table-responsive-md table-responsive-lg fondotable" >
            <thead>
              <tr>
               
                <th scope="col" class="texto">Nombre</th>
                <th scope="col" class="texto">Comentarios</th>
                
                <th scope="col" class="texto">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let comentarioreportado of listaReportados'>
                <td scope="col">{{comentarioreportado.usuario}}</td>
                <td scope="col">{{comentarioreportado.comentario}}</td>
                <td>
                  <button type="button" class="btn  botonOpciones" (click)="eliminarComentario(comentarioreportado.idcomentario)"> <i
                      class="fas fa-trash"></i>Eliminar</button>
                  
                </td>
              </tr>

            </tbody>
          </table>
          <div class="input-error alert alert-error" *ngIf="listaReportados.length==0" ><strong> No hay comentarios Reportados para el post actual </strong></div>


        </div>










          


        </div>
    </div>
</div>
</div>




