
 
 @import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");

.wrapper {
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
  }


  .txt{
    font-weight: bold;
    font-size: 1.5rem;
  
   }
   .bordestxt{
       border-radius: 60px;
   }
  

  .fondo{
    width: 120%!important;
    height:  150em!important;
    background-color:black;
    color:#B7378A !important;
   
}

.titulo {
    font-family: 'Monoton', arial;
    color: #B7378A;
  }

 
.estiloComentario{

   
    width: 30em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px 20px ;
    border-color: 1px black !important;
    background: linear-gradient(360deg,white, #B7378A) !important;

    background-image: url('https://image.freepik.com/vector-gratis/hablar-burbujas-neon-coleccion-carteles-signos-globos-chat-senales-neon_72287-554.jpg') !important;
    
  background-size: cover !important;
  background-repeat: no-repeat;
  width: inherit !important;
  height: inherit !important;
  background-position: center 100%;

  }

  .botonOpciones {
    
    background-color: #B7378A !important;
    color: white !important;
    border-radius: 20px;
  }


  .centrar{
     text-align:  center; 
     margin-left: auto;margin-left:
      auto; 
      margin-right: 40em;
  }


  .optione {
    background-color: black !important;
    color: #B7378A !important;
  
  }
  
  .optione:hover {
    background-color: #B7378A !important;
  }

  .fondotable {
    background-color: black !important;
    color:white!important;
  }


  body {
    position: relative;
  }

  .opcion{
    /* background: linear-gradient(360deg,white, #B7378A) !important; */

    /* background-image: url('~/assets/img/fondo3.jpg') !important; */
    background-size: cover;
    background-position: center 100%;
    color: white;
    font-style:bold;
    border-radius: 20px;
    background: linear-gradient(360deg, #000000, #B7378A) !important;
  }



  .estiloinformacion{
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px 20px ;
    border-color: 1px black !important;
    background: linear-gradient(360deg,black, #B7378A) !important;
  
    /* opacity: 0.5; */

     background-image: url('https://i.pinimg.com/originals/47/50/8e/47508e18ec4b24652b06252d9bebc17c.jpg') !important; 
    
  background-size: cover !important;
  background-repeat: no-repeat;
  width: inherit !important;
  height: inherit !important;
  background-position: center 50%;
  }

  /* .colortitulo{
    color: #B7378A ;
  }

  .color{
   color: white
  } */

  .estiloreportados{
    /* background: linear-gradient(360deg,purple, #B7378A) !important; */
    background-image: url('https://ak.picdn.net/shutterstock/videos/1016737804/thumb/1.jpg');
    size: cover;
    color: white;
    
  
    

  }


  .fondotable {
    background-color: black !important;
    background-image: url('https://i.pinimg.com/originals/20/f5/a9/20f5a9f2c4dbd3faf4a658a5e5e10798.jpg') !important; 
    
    background-size: cover !important;
    background-repeat: no-repeat;
    width: inherit !important;
    height: inherit !important;
    background-position: center 50%;
    font-style: bold;
   
  }
  .botonOpciones {
    margin-left: .5em !important;
    margin-right: .5em !important;
    background-color: #B7378A !important;
    color: white !important;
  }


  .texto{
    font-family: 'Rozha One', serif!important;
  }



  .input-error{
  border-color:3px red;
  }
  