<div class="wrapper">

    <app-sidebar></app-sidebar>
  
    <div class="content" style="margin-left: 20% !important;width: 80% !important;">
      
        <h1 id="titulo">Bienvenidos A Olius</h1>

        <h4>Sitios Realizados</h4>
        <div class="container">
        
            <div class="row">
            
            <div class="col col-lg-4">
                <img src="assets/img/plantillafotagrafia.jpg ">
                </div>
                <div class="col col-lg-4">
                    <img src="assets/img/imgplantilla3.png ">
                </div>
                
                <div id="discontinuo" class="col col-lg-4" style="align-items: center;">
                    <button id="agregarpagina" class="btn btn-lg" routerLink='/crearpagina'>Agregar Pagina<i class="fas fa-pencil-alt"></i></button>
                </div>
             
                 
             </div>
        
            </div>
        
           <div class="container"> 
               <div class="row">
        
               <div id="Acciones col-lg-4" style="margin-top: 5em;"> 
                <h5><i class="fas fa-pencil-alt"></i> pasos</h5>
                <h5><i class="fas fa-hand-point-right" ></i>Ingresar el tema de tu sitio</h5>
                <h5> <i class="fas fa-angle-right"></i>Elige estilos a tu gusto</h5>
                <h5> <i class="far fa-eye"></i>ver pagina</h5>
        
        
                
            </div>
            <div id="discontinuo" class="col col-lg-4" style="align-items: center;" style="margin-top: 5em ;">
               
            </div>
        </div>
        
            </div>
        
           
     
  
    </div>
  
  </div>
  