#paginaPrincipal{
  
  background-image: url('https://i.pinimg.com/originals/2f/c6/9c/2fc69cdcb5bfc5bcc1ac0c69256166f0.jpg');

background-repeat: no-repeat;
color: white;


padding: 100px 100px;
text-align: center;
background-position: center center;
background-size: cover;
height: 150%!important;
width: 100%!important;
}

p{
color:rgb(217, 84, 1)!important;
}




#paginaPrincipal:before{
	content:'';
	
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}