.encabezado {
  margin-bottom: 2em !important;

}

.fondoimage{
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 40em !important;
  height: 15em !important;
  background-position: center 50%;
  width:400px;
  border-radius:400px;


  
  /* https://images.iconfu.com/sets/20-neon/icons/gearwheel_icon.png' */
  background-image: url('https://images.hdqwalls.com/download/surface-pro-6-4k-fb-2048x2048.jpg') !important;
}

.archivoDiv i {
  size: 100% !important;
}


.archivo {
  margin: 2em !important;
}

.archivosWrap {
 
}


.encabezado {
  margin-top: 1em !important;
}


.colorfondo{
  background-color: black;
}


.color{
  
  color: #B7378A;
}

.botonOpciones {
  
  background-color:#B7378A !important;
    color: white !important;
}

.borde{
  border-bottom: 1px!important;
  border-color: #B7378A;
}


.wrap{
  width: 100%;
  height: 100%;
  size: 0vh;
}



* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



#colorborder1 {
 
 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  border-color: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a!important;
}



#bordediv{
  border-style: solid double;
  border-color: #8400ff;
}


.input-error{
  border-color:red;

}


.fondomodal{
  background-image: url('~/assets/img/nebula.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
 

}


.fondoblack{
  background: linear-gradient(360deg, #000000, #B7378A) !important;
  color:white !important;

}

.texto{
  font-family: 'Monoton', arial;
}



.color{
  color:#B7378A!important;
}


.colorboton{
 
  text-align: center;

  background-color: #B7378A!important; 
  color:white;

  }