#hregisrtrarse{
    margin-top: 5rem;
    margin-bottom: 0em;
    align-items: center;
    margin-left: 9em;
}




.form-control{
    padding-right: 3em;
    width: 23em;
    padding-left: 3em;
   
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.tamano{
    margin-bottom: 2em;
   

}

#btnregistrar{
padding: 0em;
text-align: center;
margin-left: 15em;
background-color:#B7378A ;
color: white;
margin-bottom: 3em;
}

hr {
    height: 2px;
    background-color:#B7378A;
  }

 

#fc{
    border-radius: 2px;
   
    /* background-image: url('~/assets/img/fondo4.jpg')!important; */
    
}