<app-header-logged-out></app-header-logged-out>
<h1 id="hregisrtrarse">Registrarse</h1>
<hr>

<form style="align-items: center;"  id="fc">
  <div style="align-items: center;" class="form-row">

    <div class="col col-lg-3 ">
      <input type="text" class="form-control tamano" placeholder="Primer Nombre">
      
    </div>
    <div class="col col-lg-4">
      <input type="text" class="form-control tamano ajuste" placeholder="Primer Apellido">
    </div>
    <div class="col col-lg-5">
     
    </div>
    <div class="col col-lg-3">
      <input type="text" class="form-control tamano" placeholder="Segundo nombre">
    </div>
    <div class="col col-lg-4">
      <input type="text" class=" form-control tamano" placeholder="segundo Apellido">
    </div>
    <div class="col col-lg-5">
     
    </div>
    
    <div class="col col-lg-3">
      <input type="text" class="form-control tamano" placeholder="Ingresa tu contraseña ">
    </div>
    <div class="col col-lg-4">
      <input type="text" class="form-control tamano" placeholder="Escribe tu contraseña de nuevo">
    </div>
    <div class="col col-lg-5">
     
    </div>
    <div class="col col-lg-3">
      <input type="text" class="form-control tamano" placeholder="Ingresa Tu Identidad">
    </div>
    <div class="col col-lg-7">
      <input type="text" class="form-control tamano" placeholder="Ingresa Tu correo Electronico">
    </div>
  </div>
<button id="btnregistrar" class="btn btn-lg" routerLink='/login'>Registrarse</button>

</form>
<app-footer></app-footer>
