<app-header-logged-out></app-header-logged-out>
<h1 id="hregisrtrarse">Registrarse</h1>
<hr>
<form style="align-items: center;" style="margin-left: 5em;" id="fc">
  <div style="align-items: center;" class="form-row">

    <div class="col col-lg-6 ">
      <input type="text" class="form-control tamano" placeholder="Primer Nombre">
    </div>
    <div class="col col-lg-6">
      <input type="text" class="form-control tamano ajuste" placeholder="Primer Apellido">
    </div>
    <div class="col col-lg-6">
      <input type="text" class="form-control tamano" placeholder="Segundo nombre">
    </div>
    <div class="col col-lg-6">
      <input type="text" class=" form-control tamano" placeholder="segundo Apellido">
    </div>
    <div class="col col-lg-12">
      <input type="text" class="form-control tamano" placeholder="Ingresa Tu correo Electronico">
    </div>
    <div class="col col-lg-6">
      <input type="text" class="form-control tamano" placeholder="Ingresa tu contraseña ">
    </div>
    <div class="col col-lg-6">
      <input type="text" class="form-control tamano" placeholder="Escribe tu contraseña de nuevo">
    </div>

  </div>


</form>
<app-footer></app-footer>
