<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content" style="margin-left: 14% !important;width: 100% !important;">

    <div class="container colorfondo ">


      <div class="row">
        <div class="col col-lg-5">
          <br>
          <h3 class="color titulo" style="margin-left: auto; margin-right: auto; text-align: center;"><i
              class="fas fa-list"></i>Categorías</h3>

          <hr>

          <br>
          <br>

          <strong>
            <h4 class="color">Añadir una nueva categoría</h4>
          </strong>
          <form>
            <div [formGroup]="categoriasForm" class="form-group color">
              <label for="nombreCategoria ">Nombre: </label>



              <input
                [ngClass]="{'input-error':nombreCategorias.invalid && (nombreCategorias.dirty || nombreCategorias.touched ) }"
                formControlName="nombreCategorias" type="text" class="form-control" id="nombreCategoria">

              <div *ngIf="nombreCategorias.invalid && (nombreCategorias.dirty || nombreCategorias.touched )"
                class="alert alert-danger" role="alert" style="width: 13em;"> Campo no válido:
                <span class="error" *ngIf="nombreCategorias.errors.required">Error el campo es Obligatorio</span>
                <span *ngIf="nombreCategorias.errors.minLength"> El tamaño minimo son 5 caracteres</span>
              </div>




            </div>
            <div [formGroup]="categoriasForm" class="form-group color">
              <label for="descripcionCategoria">Descripcion</label>
              <textarea [ngClass]="{'input-error':descripcion.invalid && (descripcion.dirty || descripcion.touched ) }"
                formControlName="descripcion" class="form-control color" id="descripcionCategoria" cols="60"
                rows="10"></textarea>

              <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched )" class="alert alert-danger"
                role="alert" style="width: 13em;"> Campo no válido:
                <span class="error" *ngIf="descripcion.errors.required">Error el campo es Obligatorio</span>
                <span *ngIf="descripcion.errors.minLength"> El tamaño minimo son 5 caracteres</span>





              </div>


            </div>

            <button type="button" class="btn  botonOpciones" (click)="guardarCategorias()"><i
                class="fas fa-plus-circle"></i>Guardar categoría</button>
          </form>
        </div>
        <div class="col col-lg-7 verCategorias">

          <div class="busquedaForm">
            <input type="text" class="form-control " id="iputBusqueda" style="width: 30%; display: inline;"
              placeholder="Buscar una categoria" [(ngModel)]="busquedaInput" (ngModelChange)="busquedanombre()">
            <!-- <button type="button" class="btn btn-outline-secondary" (click)="busquedaNombrecategoria()"> Buscar</button> -->

          </div>

          <table
            class="table table-hover table-dark table-responsive-sm table-responsive-md table-responsive-lg fondotable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let categorias of listaCategorias; index as i'>
                <th scope="row">{{i+1}}</th>
                <td scope="col">{{categorias.nombrecategoria}}</td>
                <td scope="col">{{categorias.descripcion}}</td>
                <td scope="col">5</td>
                <td>
                  <button type="button" class="btn  botonOpciones" (click)="eliminarCategorias(categorias._id)"> <i
                      class="fas fa-trash"></i>Eliminar</button>
                  <button type="button" class="btn  botonOpciones" (click)="editarCategorias(categorias)"><i
                      class="fas fa-eye-dropper"></i>Editar</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
