.botonOpciones {
  margin-left: .5em !important;
  margin-right: .5em !important;
  background-color: #B7378A !important;
  color: white !important;
}



.titulo {
  font-family: 'Monoton', arial;
  color: #B7378A;
}

.verCategorias {
  margin-top: 5em;
}

.busquedaForm {
  margin-bottom: 2em;
  margin-left: 50%;
}

#iputBusqueda {
  margin-right: 1em;
  width: 70% !important;

}


.colorfondo {
  background-color: black;
  height: inherit!important;
  size: cover ;
  height:  150em!important;
}

.color {

  color: #B7378A;
}

.fondotable {
  background-color: black !important;
}


.input-error{
  color:red;
}

.wrapper {
  display: flex;
  width: 100%;
 
  background-color: black;
  align-items: center;
}