.border {
  border-radius: 2px;
  border-color: #B7378A;

}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  margin-left: 20% !important;
  width: 80% !important;
  color: white !important;
}


.texto {
  font-family: 'Monoton', arial;
  color: #B7378A;

}

.btn {
  background-color: #B7378A;
  color: white;

}

.fondo {
  width: 120% !important;
  height: 100em !important;
  background-color:rgb(1, 1, 27);
  color: #B7378A !important;


  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat;

  background-position: center center;




}







.fondodiv {

  background-size: cover !important;
  background-repeat: no-repeat;
  width: 40em !important;
  height: 20em !important;
  background-position: center 100%;

  color: #B7378A;

  background-image: url('https://images.alphacoders.com/100/1007239.jpg') !important;

  border-image: fill !important;
  border-image-outset: 1.5;
  position: relative;

}

