<div class="wrapper ">

  <app-sidebar></app-sidebar>

  <div class="content fondo" style="margin-left: auto;margin-right: auto;"
    style="margin-left: 15% !important;width: 100% !important;">


    <div class="container">
      <div class="row">


        <div class="col col-lg-12 fondodiv preloader" style="margin-bottom:2em; margin-left: auto;margin-right: auto;">
          <h2 class="texto" style="margin-top: 5em;margin-left: auto;margin-right: auto;  "> Crear Tema</h2>


        </div>



        <div class="col col-lg-4">
          <div [formGroup]="formularioTema" style="width: 20em; margin-left: auto ; margin-right: auto"
            id="titulo-pagina">

            <input [ngClass]="{'input-error':titulo.invalid && (titulo.dirty || titulo.touched ) }"
              formControlName="titulo" type="text" style="padding-right:2em ;margin-left: 10 rem" class="form-control"
              placeholder="Escribir Titulo">



            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched )" class="alert alert-danger" role="alert"
              style="width: 20em;"> Campo no válido:
              <span class="error" *ngIf="titulo.errors.required">Error el campo es Obligatorio</span>


            </div>
          </div>

        </div>




        <div class="col col-lg-4">


          <div [formGroup]="formularioTema" style="width: 20em ; margin-left: auto;margin-right: auto;"
            id="descripcion-pagina">
            <input [ngClass]="{'input-error':descripcion.invalid && (descripcion.dirty || descripcion.touched ) }"
              placeholder="Descripcion" formControlName="descripcion" class="form-control" type="text">


            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched )" class="alert alert-danger"
              role="alert" style="width: 13em;"> Campo no válido:
              <span class="error" *ngIf="descripcion.errors.required">Error el campo es Obligatorio</span>


            </div>
          </div>
        </div>



        <div class="col col-lg-11">

          <div id="subir-archivos">
            <div [formGroup]="formularioTema">

              <div class="form-group">
                <label for="file">Archivos</label>
                <input formControlName="file" id="file" type="file" class="form-control" multiple
                  (change)="seleccionarFotosMultiples($event)">

                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                  <div *ngIf="f.file.errors.required">Las fotos son requeridas</div>
                </div>

                <div class="alert alert-danger" *ngIf="cuentaIncorrecta">Seleccione al menos 3 fotos.</div>

              </div>

              <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />

            </div>

          </div>

        </div>







        <div
          style="border-radius: 15px;width: 70%; margin-left: auto;margin-right: auto; margin-top: 10em;text-align: left;">
          <!-- <h4 style="margin-left: auto;margin-right: auto;"><i class="fas fa-code"></i>Editor javascript</h4> -->

          <div style="text-align: center;">
            <h4><i class="fas fa-code"></i>Editor javascript</h4>
          </div>
          <ngx-codemirror [(ngModel)]="contentJS" [options]="{
            lineNumbers: true,
            theme: 'material',
            mode: 'javascript'
          }"></ngx-codemirror>
        </div>



        <br>
        <br>
        <br>
        <div style="width: 70%; margin-left: auto;margin-right: auto; margin-top: 5em; text-align: left;">
          <div style="text-align: center;">
            <h4> <i class="fas fa-code"></i>Editor css</h4>
          </div>
          <ngx-codemirror [(ngModel)]="contentCSS" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'css'
    }"></ngx-codemirror>
        </div>



        <br>
        <br>
        <br>





        <div class="col col-lg-12" style="margin-left: auto; margin-top: 2em;">
          <button [disabled]="!formularioTema.valid || validarContenidoCSS()==false || validarContenidoJS()==false"
            class="btn btn-lg" (click)=" guardarTema()">Guardar Tema</button>
        </div>


      </div>
    </div>

  </div>


</div>
